body {
  text-align: center;
  background: url(imge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: inline-block;
  background-size: 100% 100%;
  background-position: 50% 50%;
  width: auto;
  max-width: 100%;
  height: 100%;
}
.box {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(47, 79, 79, 0.6);
  position: fixed;
  bottom: 0%;
  top: 0%;
  right: 30%;
  left: 30%;
  max-width: 100%;
  width: auto;
  height: 100%;
  overflow: auto;
}
@media only screen and (max-width: 480px) {
  .box {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(47, 79, 79, 0.6);
    bottom: 0%;
    top: 0%;
    right: 15%;
    left: 15%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: fixed;
  }
}
#title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: antiquewhite;
  font-weight: bolder;
}
#description {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: antiquewhite;
  font-weight: bold;
}
#survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: antiquewhite;
}
.input-container {
  margin-bottom: 1em;
}
#name-label {
  font-style: italic;
}
#survey-name {
  margin-top: 1.5em;
}
#email-label {
  font-style: italic;
}
#age-label {
  font-style: italic;
}
#state-label {
  font-style: italic;
}
#radio-label {
  font-style: italic;
}
#weather-question {
  font-style: italic;
}
#text-area {
  width: 20em;
  height: 50px;
  margin-bottom: 0.3em;
}
.age-container {
  display: flex;
  flex-direction: column;
}
#gender-female{
  margin-left: -15%;
}
#gender-male{
  margin-left: -20%;
}
#gender-other{
  margin-left: -18.5%;
}
#gender-none{
  margin-left: 7.5%;
}

#checkbox-container {
  display: flex;
  flex-direction: column;
}
