body {
  text-align: center;
}
#title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: darkslateblue;
  font-weight: bolder;
}
#description {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: darkslateblue;
  font-weight: bold;
}
#survey-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#survey-name {
  margin-top: 3em;
}
#survey-email {
  margin-top: 1em;
}
#survey-number {
  margin-top: 1em;
  flex-direction: row;
}
#survey-state {
  margin-top: 1em;
}
#submit-button{
  margin-top: 1em;
}
